// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';


// $primaryColor: #E27D60;
// $secondaryColor: #49c5b6;
// $lightOrange: #e8a87c;
// $pink: #c38d9e;
// $green: #41b3a3;


$primaryColor: #808A9F;
$secondaryColor: #04395E;
$thirdColor: #70a288;
$fourthColor: #DAB785;
$fifthColor: #D5896F;