header.navbar {
    background-color: #666;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Container for flexboxes */
section.main-wrapper {
    display: flex;
    height: 84vh;
}

/* Style the navigation menu */
nav {
    flex: 0.75;
    background: #ccc;
    padding: 20px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

/* Style the content */
article {
    flex: 3.25;
    background-color: #f1f1f1;
    padding: 10px;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 1rem;
    text-align: center;
    color: white;
    box-sizing: border-box;
}

.screen-wrapper {
    padding: 2rem 1.5rem;
}



/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}
